*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    /* background-color: #10A37F; */
    background-color: whitesmoke;
}
header{
    text-align: center;
    padding: 10px 100px;
}
header h1{
    font-size: 50px;
    color:#fda80b;
    border-bottom: 2px solid #e9250b;
    padding-bottom: 10px;
}
main{
    position:absolute;
    bottom: 0;
    /* background-color: red; */
    height: 90vh;
    width: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    gap: 9vh;
}
.top-form{
    /* background-color: rgb(48, 48, 229); */
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 1vh;
    color: #fda80b;
    font-weight: 700;
}
.button{
    background-color: #fda80b;
    border: none;
    padding: 1vh 2vh;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    
}
.button:hover, .button-b:hover{ 
    transition: all linear ease 0.1s;
    background-color: #e9250b;
    cursor: pointer;
}
input{
    height: 3.5vh;
    width: 15vw;
    text-align: center;
    border: none;
    border: 2px solid #e9250b;
    
}
input:hover{
    border: 2px solid #fda80b;
}
#donation-company{
    text-align: center;
    height: 3.5vh;
    width: 15vw;
    border: 1px solid black;
}
#donation-company:hover{
    border: 2px solid #fda80b;
}

.button-b{
    background-color: #fda80b;
    border: none;
    padding: 0.7vh 1.7vh;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}

.analysis-section{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.grid{
    height: 55vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.analysis-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    gap: 20px;
    padding: 5px;

}
.search-from-class{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.analysis-option h3{
    color: #fda80b;
    padding-bottom: 15px;
    border-bottom: 1px solid #034132;
}
.analysis-section h2{
    font-size: 35px;
    color:#e9250b;
    border-bottom: 2px solid #02523e;
    width: 70%;
    text-align: center;
    padding: 3px 10px;
}